/*PRINCIPAL*/
@font-face {
    font-family: 'Segoe UI';
    src: url('./Segoe UI.ttf');
}
body{
    font-family: 'Segoe UI';
}
/*BACKGROUNDS*/
.bg-black {
    background-color: #000!important;
    color:#fff!important;
    border-radius: 0px;
}
.bg-dark-gray {
    background-color: #151515!important;
    color:#fff!important;
    border-radius: 0px;
}

/*HEADER*/
.nav-link{
    font-size:12px;
}

/*LANDING PAGE*/
.section {
    padding-top: 100px;   
    padding-bottom: 100px;   
}
/*BACKGROUND COLORS*/
.bg-layout{
    background-image: linear-gradient(to right, #000000 , #1C1C1C);
}
/*BUTTONS*/
.btn-layout {
    background-image: linear-gradient(to right, #000000 , #1C1C1C);
    color:#fff;
}
.btn-layout:hover {
    background-image: linear-gradient(to right, #000000 , #1C1C1C);
    color:#fff;
}
.btn-gray {
    background-color: #424242;
    color:#fff;
}
.btn-gray:hover {
    background-color: #585858;
    color:#fff;
}
/*STYLE SECTIONS*/
.heading-items{
    width: 550px; 
    height: 585px;
    padding-top: 10rem;
}
.heading-img{
    width: 550px; 
    height: 550px;
}
.about-img{
    width: 550px; 
    height: 353px;
}
.services-img {
    font-size: 90px;
    transition: all .2s ease-in-out; 
}
.services-img:hover {
    transform: scale(1.1);
}
.list-skill {
    transition: all .2s ease-in-out; 
}
.list-skill:hover {
    transform: scale(1.1);
}
.bounce{
    font-size: 40px;
    font-weight: bold;
    color: #fff;
}
.portfolio-img {
    width: 360px;
    height: 266px;
}
.client-testimonial{
    height: 200px;
    transition: all .2s ease-in-out; 
}
.client-testimonial:hover{
    transform: scale(1.1);
}
.client-img{
    margin: 1rem;
    width: 80px;
    height: 80px;
}
.client-testimonial-p {
    font-size: 12px;
}
.pricing-item {
    padding: 2rem;
    text-align: center;
    transition: all .2s ease-in-out; 
}
.pricing-item:hover {
    transform: scale(1.1);
}
.pricing-item img {
    margin: 10px;
}
.pricing-item p {
    margin: 0px;
}
.pricing-item h3 {
    margin: 10px;
}
.pricing-item .list-group-item {
    border: none;
    /*border-top: 1px solid rgba(0,0,0,.125);*/
    /*border-bottom: 1px solid rgba(0,0,0,.125);*/
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    font-size: 9px;
}
/*FOOTER*/
footer {
    background-color: #000;
    color: #fff;
}